@font-face {
  font-family: Oswald;
  src: url('../assets/fonts/Oswald.ttf'); //change url accordingly
}
:root {
  --ion-font-family: Oswald;
  font-family: 'Oswald';

  --ion-background-color: #1e1e1e;
  --ion-background-color-rgb: 30, 30, 30;

  --ion-text-color: #dedcd7;
  --ion-text-color-rgb: 222, 220, 215;

  --ion-color-step-50: #282827;
  --ion-color-step-100: #313131;
  --ion-color-step-150: #3b3b3a;
  --ion-color-step-200: #444443;
  --ion-color-step-250: #4e4e4c;
  --ion-color-step-300: #585756;
  --ion-color-step-350: #61615f;
  --ion-color-step-400: #6b6a68;
  --ion-color-step-450: #747471;
  --ion-color-step-500: #7e7d7b;
  --ion-color-step-550: #888784;
  --ion-color-step-600: #91908d;
  --ion-color-step-650: #9b9a96;
  --ion-color-step-700: #a4a3a0;
  --ion-color-step-750: #aeada9;
  --ion-color-step-800: #b8b6b2;
  --ion-color-step-850: #c1c0bb;
  --ion-color-step-900: #cbc9c5;
  --ion-color-step-950: #d4d3ce;

  --ion-color-primary: #317478;
  --ion-color-primary-rgb: 49, 116, 120;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2b666a;
  --ion-color-primary-tint: #468286;

  --ion-color-secondary: #be993b;
  --ion-color-secondary-rgb: 190, 153, 59;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #a78734;
  --ion-color-secondary-tint: #c5a34f;

  --ion-color-tertiary: #cd4d45;
  --ion-color-tertiary-rgb: 205, 77, 69;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #b4443d;
  --ion-color-tertiary-tint: #d25f58;

  --ion-color-success: #709950;
  --ion-color-success-rgb: 112, 153, 80;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #638746;
  --ion-color-success-tint: #7ea362;

  --ion-color-warning: #be993b;
  --ion-color-warning-rgb: 190, 153, 59;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #a78734;
  --ion-color-warning-tint: #c5a34f;

  --ion-color-danger: #cd4d45;
  --ion-color-danger-rgb: 205, 77, 69;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b4443d;
  --ion-color-danger-tint: #d25f58;

  --ion-color-medium: #b1ab99;
  --ion-color-medium-rgb: 177, 171, 153;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #9c9687;
  --ion-color-medium-tint: #b9b3a3;

  --ion-color-light: #dedcd7;
  --ion-color-light-rgb: 222, 220, 215;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #c3c2bd;
  --ion-color-light-tint: #e1e0db;
}
